@import url("http://at.alicdn.com/t/font_401627_0ng7wvdmoeu680k9.css" );
body { font:12px 'Microsoft yahei', Tahoma, Geneva, sans-serif; color:#666; background:#d5d8dd;}
*{
  padding: 0;
  margin: 0;
}
html,body,#app{
  width: 100%;
  height: 100%;
}
.login{
  color: #ff0000;
}
input{
  background-color: transparent;
  border: 1px solid #f4f4f4;
  outline: none;
}
button{
  background-color: transparent;
  border: 1px solid #f4f4f4;
  outline: none;
}
.btn_common{
  padding: 5px 10px;
}
